<div id="comments">
	{% case page.comment_count %}
		{% when 0 %}
		{% when 1 %}
			<h1>1 Comment</h1>
		{% else %}
			<h1>{{page.comment_count}} Comments</h1>
	{% endcase %}
	{% for c in page.comments %}
		<div class="comment {% cycle 'odd', 'even' %}">
			<p class="comment_header">
				From: {% if c.link and c.link != '' %}
					<a href="{{c.link}}">{{c.name}}</a>
				{% else %}
					{{c.name}}
				{% endif %}
				<br />
				<span class="comment_date">{{c.date}}</span>
			</p>
			<p>
				{{c.comment | newline_to_br}}
			</p>
		</div>
	{% endfor %}
	<h1>Post a comment</h1>
	<p style="font-style: italic">
		All comments are held for moderation; basic HTML formatting accepted.
	</p>
	<form id="commentform" action="http://getsimpleform.com/messages?form_api_token=1bf24371cb54c66a3da80d49326e4b89" method="post">
		<input type="hidden" name="post_id" value="{{page.id}}" />
		<input type="hidden" name="return_url" value="{{site.url}}{{page.url}}" />
		
		<label for='name'>Name</label>
		<br />
		<input type='text' id='name' name='name' placeholder='Your Name' />
		<br />
		<label for='email'>Email</label>
		<br />
		<input type='text' id='email' name='email' placeholder='Your Email' />
		<br />
		<label for='url'>Website</label>
		<br />
		<input type='text' id='uri' name='uri' placeholder='Your website (optional)' />
		<br />
		<label for='email'>Message</label>
		<br />
		<textarea id='message' name='message' placeholder='Message' rows='8' cols='50'></textarea>
		<br />
		<input type='submit' value='Submit' />
	</form>
</div>
