<div class="comments">
	<div class="wrapper">

		<h2 class="block">Comments</h2>

		<h2 class="block">Add your comment</h2>

		<form action="http://getsimpleform.com/messages?form_api_token=1bf24371cb54c66a3da80d49326e4b89" method="post">
			<input type='hidden' name='redirect_to' value='http://{{site.url }}/{{page.url}}' />
			<label for='name'>Name</label>
			<br />
			<input type='text' id='name' name='name' placeholder='Your Name' />
			<br />
			<label for='email'>Email</label>
			<br />
			<input type='text' id='email' name='email' placeholder='Your Email' />
			<br />
			<label for='url'>Website</label>
			<br />
			<input type='text' id='uri' name='uri' placeholder='Your website (optional)' />
			<br />
			<label for='email'>Message</label>
			<br />
			<textarea id='message' name='message' placeholder='Message' rows='8' cols='50'></textarea>
			<br />
			<input type='submit' value='Submit' />
		</form>

	</div>
</div>
