<div class="header">
	<button class="hamburger hamburger-cancel" onclick="openNav()">
  		<span class="icon"></span>		
	</button> 
	<div id="myNav" class="overlay">
  			<div class="overlay-content">
    				<a href="#">Home</a>
    				<a href="#">Blog</a>
    			</div>
	</div>
</div>
<script>
	var el = document.querySelectorAll('.hamburger');
		for(i=0; i<=el.length; i++) {
		  el[i].addEventListener('click', function() {
		    this.classList.toggle('active');
		    document.getElementById("myNav").toggle();
	  }, false);
	}
</script>
