<header id="home">
	<button class="hamburger hamburger-cancel" onclick="toogle()">
   		<span class="icon"></span>		
	</button> 
</header>
<div id="overlay">
	<a href="../">Home</a>
	<a href="../blog">Blog</a>
	<a href="">Live</a>
</div>
<script>
	function toogle(){
		var element=document.getElementById('overlay'),style = window.getComputedStyle(element),height = style.getPropertyValue('height');
		if(height=='100%'){element.style.height='0';}
			else{element.style.height='100%'}
	}
	var el = document.querySelectorAll('.hamburger');	
 		for(i=0; i<=el.length; i++) {
 			el[i].addEventListener('click', function() {
 		    	this.classList.toggle('active');
			}, false);
 		}
</script>
