<header id="home">
	<button class="hamburger hamburger-cancel" onClick="toogle()">
   		<span class="icon"></span>		
	</button> 
</header>
<div id="overlay">
	<a href="../">Home</a>
	<a href="../blog">Blog</a>
	<a href="">Live</a>
</div>
<script>
	function toogle(){
		var toogle=document.getElementById('overlay');
		if(window.getComputedStyle(toogle).style.getPropertyValue('width')=='100%'){toogle.style.width='0';}
			else{toogle.style.width='100%'}
	}
	var el = document.querySelectorAll('.hamburger');	
 		for(i=0; i<=el.length; i++) {
 			el[i].addEventListener('click', function() {
 		    	this.classList.toggle('active');
			}, false);
 		}
</script>
