<header id="post">
	<a href="../blog/" style="padding:0;">
		<button class="hamburger hamburger-arrow-left">
			<span class="icon"></span>
		</button>
	</a>
	<button class="hamburger hamburger-cancel">
   		<span class="icon"></span>		
	</button> 
</header>
<div id="overlay">
	<a href="../">Home</a>
	<a href="../blog">Blog</a>
	<a href="">Live</a>
</div>
 <script>
 	var el = document.querySelectorAll('.hamburger');
	var toogle=document.getElementById('overlay');
 		for(i=0; i<=el.length; i++) {
 			el[i].addEventListener('click', function() {
 		    	this.classList.toggle('active');
			if(document.getComputedStyle(toogle).style.getPropertyValue('width')=='100%'){toogle.style.width='0';}
			else{toogle.style.width='100%'}
 			}, false);
 		}
 </script>
