<header id="post">
	<a href="../blog/" style="padding:0;">
		<button class="hamburger hamburger-arrow-left">
			<span class="icon"></span>
		</button>
	</a>
	<button class="hamburger hamburger-cancel">
   		<span class="icon"></span>		
	</button> 
</header>
<div class="overlay">
	<a href="../">Home</a>
	<a href="../blog">Blog</a>
	<a href="">Live</a>
</div>
 <script>
 	var el = document.querySelectorAll('.hamburger');
 		for(i=0; i<=el.length; i++) {
 		  el[i].addEventListener('click', function() {
 		    this.classList.toggle('active');
 		}, false);
 	}
 </script>
