<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>


{% include analytics.html %}

    <link rel="stylesheet" type="text/css" href="../style-dev.css" media="print" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" media="print">
    <link rel="icon" href="../favicon.ico" type="image/x-icon"/>
  </head>

  <body id="blog">
    {% include blog-header.html %}
    {{ content }}    
  </body>
</html>
