<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="5RPtXkTCO395ZNWDdtWJFXxU1vqSdx7NDEW3yKBpoDM" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>    
    <meta property="og:image" content="http://sauravchandra.com/images/photo.jpg"/>
    <meta property="og:site_name" content="Blog | Saurav Chandra"/>
    <meta property="og:url" content="http://sauravchandra.com/blog/"/>

{% include analytics.html %}

    <link rel="stylesheet" type="text/css" href="../style-dev.css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" />
    <link rel="icon" href="../favicon.ico" type="image/x-icon"/>
  </head>

  <body id="blog">
    {% include blog-header.html %}
    {{ content }}    
  </body>
</html>
