<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="http://sauravchandra.com/style-dev.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100">
    <link rel="icon" href="http://sauravchandra.com/favicon.ico" type="image/x-icon"/>


   
  </head>

  <body>
    
    <div class="main">
        <div class="row">
	        <div id="menu">
		        <a href="http://sauravchandra.com">home</a> | <a href="http://sauravchandra/blog/">blog</a> | <a href="http://sauravchandra.com/contact/">contact</a>
	        </div>
        </div>
      {{ content }}
    </div>

  </body>
</html>
