<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} | {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="../style-dev.css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="icon" href="../favicon.ico" type="image/x-icon"/>
  </head>

  <body id="blog">
    <div id="post-banner" style="background-image:url(../images/{{page.banner}});">
      <div id="post-title">{{ page.title }}</div>
    </div>
    <div id="post-content">
      {{ content }}
      <br><br>
      <b>Posted on</b> {{ page.date | date: "%B %e, %Y" }}
    </div>     
  </body>
</html>
