<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} | {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="../style-dev.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100">
    <link rel="icon" href="../favicon.ico" type="image/x-icon"/>
  </head>

  <body id="blog">
    {% include header.html %}
    <div class="row">
      <div id="post-display">
        <div id="post-banner" style="background-image:url(../images/{{post.banner}});">
          <div id="post-title">{{ page.title }}</div>
        </div>
        <div>
         {{ content }}
        </div>  
        <div>
         <b>Posted on</b> {{ page.date | date: "%B %e, %Y" }}
        </div>
        <br><br>
        {% include disqus.html %}
      </div>
    </div>    
  </body>
</html>


